.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-icon {
  font-size: 32px;
}

ion-card {
  background-color: #e6e6eb;
  // background-color:#cdb2cb4d
}

button{
  background-color: #e6e6eb;
}
